font {
  font-family: "Arial", sans-serif;
  font-size: large;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;

}

.imagen_portada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enlace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  width: 80%;
  height: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border-style: groove;
}

.usuario {
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin: 2px;
}

.password {
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin: 2px;
}



h2{
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tabla_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.entradaBusqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 2px;
}

.agregar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Aumentar el padding */
    margin: 10px; /* Aumentar el margin */
    border: 2px solid #ccc; /* Agregar un borde */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s; /* Transición para el hover */
}
.credenciales{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px;
    margin: 2px;
}

input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
}

table , th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
